/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/
/release.properties

.vscode/


allure-results/
allure-report/


build/
build/downloads/
build/reports/

test-output/
surefire-reports/